body {
  font-family: 'Armata', sans-serif;
/*  background-color: #cfecff;
*/  background-image: linear-gradient(to bottom, #d6efff, #cfecff);
}


.title {
  display: flex;
  font-size: 65px;
  margin-left: 60px;
  text-align: center;
}

#emoji {
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}

#battleship {
  font-family: 'Black Ops One', cursive;
}



.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttons-container .intro-button {
  height: 70px;
  padding: 15px;
  border-radius: 8px;
  font-size: 20px;
  background-color: #ffcb4f;
  box-shadow: 4px 4px #b28e37;
  text-align: center;
}

#start-game-button {
  margin-bottom: 10px;
}

.buttons-container .intro-button:hover {
  background-color: #fa5a5a;
  box-shadow: 2px 2px 2px #fc9c9c;
}

.button-hide {
  display: none;
}


#message-log {
  display: grid;
  grid-template-columns: repeat(15, 1fr [col-start]);
  grid-template-rows: repeat(4, 1fr [row-start]);

  min-height: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 15px;
  border: 3px solid black;

}

/*.message-log-hide {
  display: none;
}*/



.grids-container {
/*  width: 100%;
  height: 100%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.grids-container .player-container {
}

.grids-container .opponent-container {
}

.arrow-divisor {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}


.arrow-box {
  border: 3px solid #665120;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  margin: 30px;
}

.arrows {
  text-align: center;
  width: 60%;
  height: 60%;
  background-color: inherit;
}

#arrows-up {
  background-color: #fa5a5a;
}


/*  background-color: #AFE0FF;
*/


.grid-label {
  font-size: 20px;
}

.game-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 3.5px 3.5px;
  margin: 3.5px;
  border: 3px solid #665120;
  padding: 3.5px;
}

.game-grid .cell {
  padding: 1px;
  border: 0.5px solid #ffcb4f;
  opacity: .8;
  width: 45px;
  height: 45px;
}

/*.game-row {
  width: 400px;
}*/

.cell:hover {
  opacity: 1;
  border: 1px solid #fa5a5a;
}

footer {
  margin: 30px;
  font-size: 12px;
}



/*TEMPLATE COLORS
BLUE
light
0% #cfecff
10% #d4eeff
20% #d9f0ff
30% #ddf2ff
40% #e2f4ff
dark
0% #cfecff
10% #bad4e6
20% #a6bdcc
30% #91a5b2
40% #7c8e99
RED
light
0% #fa5a5a
10% #fb6b6b
20% #fb7b7b
30% #fc8c8c
40% #fc9c9c
dark
0% #fa5a5a
10% #e15151
20% #c84848
30% #af3f3f
40% #963636
YELLOW
light
0% #ffcb4f
10% #ffd061
20% #ffd572
30% #ffdb84
40% #ffe095
dark
0% #ffcb4f
10% #e6b747
20% #cca23f
30% #b28e37
40% #997a2f*/
